@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl mb-4;
  }

  h2 {
    @apply text-xl mb-4;
  }

  h3 {
    @apply text-lg mb-4;
  }

  a {
    @apply text-cyan-700 no-underline hover:underline;
  }

  input[type], textarea {
    @apply rounded;
  }

  input:focus, textarea:focus {
    @apply focus:ring-0 focus:ring-offset-0 focus:border-cyan-700;
  }

  input[type=checkbox]:checked {
    @apply checked:bg-cyan-600;
  }

  .btn {
    @apply py-1 px-3 font-bold bg-cyan-600 hover:bg-cyan-700 border border-cyan-700 text-white rounded cursor-pointer transform active:scale-90 transition-transform;
  }

  input[type=submit], button {
    @apply btn;
  }

  pre {
    @apply border border-cyan-600 rounded inline-block p-3 bg-gray-50;
  }
}

@layer components {
  /* header */

  body > header {
    @apply relative w-full flex flex-wrap items-center py-4 bg-gray-100 text-gray-900 shadow-lg mb-4;
  }

  header > nav.bar {
    @apply container mx-auto flex flex-wrap items-center justify-between;
  }

  header > nav.bar ul {
    @apply flex space-x-3;
  }

  nav.bar > a.logo {
    @apply text-lg font-bold hover:no-underline space-x-3 flex;
  }

  a.logo > svg {
    @apply text-cyan-700;
    width: 23px;
    height: 27px;
  }

  /* notifications */

  p.alert, p.notice {
    @apply border my-5;
  }

  /* bodyer */

  body .bodyer {
    @apply container mx-auto flex-col;
  }

  .with-sidebar {
    @apply flex flex-row;
  }

  .with-sidebar aside {
    @apply w-1/4 px-2;
  }

  .with-sidebar main {
    @apply w-3/4 pt-4 px-2;
  }

  .with-sidebar aside .sticky-menu {
    @apply sticky top-0 p-4 w-full;
  }

  .sticky-menu ul {
    @apply flex flex-col overflow-hidden;
  }

  .sticky-menu svg {
    width: 14px;
    heigth: 16px;
  }

  .sticky-menu li > a {
    @apply items-center flex space-x-2 p-3 text-black hover:no-underline;
  }

  .sticky-menu li > a.active {
    @apply bg-sky-200;
  }

  form, .form {
    @apply flex flex-col space-y-4 mb-4;
  }
}
